In [17]:
# Define the data
data = {
    'brand' : ['Wowyow', 'Wowyow', 'Splaysh', 'Splaysh', 'Pipplee'],
    'style': ['cistern', 'cistern', 'jug', 'stock', 'stock'],
    'rating': [4.0, 4.0, 5.5, 3.3, 3.0]
}

In [4]:
import pandas as pd
import numpy as np

In [25]:
# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)


# Using the duplicated() function, the result is that one has been marked “True,” indicating it is a duplicate.
print()
print(df.duplicated())

     brand    style  rating
0   Wowyow  cistern     4.0
1   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [26]:
# Drop duplicates function
df.drop_duplicates()

     brand    style  rating
0   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

SAMPLE 2

In [20]:
# Define the data
data = {
    'brand' : ['Wowyow', 'Wowyow', 'Splaysh', 'Splaysh', 'Pipplee'],
    'style': ['cistern', 'cistern', 'jug', 'stock', 'stock'],
    'rating': [4.0, 4.0, 5.5, 3.3, 3.0]
}
# Create the DataFrame
df2 = pd.DataFrame(data)

# Display the DataFrame
print(df2)

     brand    style  rating
0   Wowyow  cistern     4.0
1   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

In [24]:
df2 = df2.drop_duplicates(subset=['style', 'rating'])

print()
print(df2)

     brand    style  rating
0   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

SAMPLE 3

In [27]:
# Define the data
data = {
    'color': ['olive', 'olive', 'gray', 'salmon', 'salmon'],
    'rating': [9.0, 9.0, 4.5, 11.0, 7.0],
    'type': ['rinds', 'rinds', 'pellets', 'pellets', 'pellets']
}

# Create the DataFrame
df3 = pd.DataFrame(data)

# Display the DataFrame
print(df3)

    color  rating     type
0   olive     9.0    rinds
1   olive     9.0    rinds
2    gray     4.5  pellets
3  salmon    11.0  pellets
4  salmon     7.0  pellets

In [28]:
#  identifying duplicates in only one column (subset) of values and labeling the last duplicates as “false,” so that they are “kept”:
print(df3)
print()
print(df3.duplicated(subset=['type'], keep='last'))

    color  rating     type
0   olive     9.0    rinds
1   olive     9.0    rinds
2    gray     4.5  pellets
3  salmon    11.0  pellets
4  salmon     7.0  pellets

0     True
1    False
2     True
3     True
4    False
dtype: bool